<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="userCard">
        <img src="<%= ctx.githubAvatar(userInfo.name) %>">
        <div class="info">
          <p><%= userInfo.name %></p>
          <p class="meta"><%= userInfo.gender ? '男' : '女' %></p>
        </div>
      </div>
      <div class="description">
        <%= userInfo.signature %>
      </div>
    </div>
    <% if (ctx.session.user) { %>
      <div class="extra content">
        <a href="/user/<%= userInfo.name %>" class="left floated"><i class="home icon"></i>个人主页</a>
        <span class="right floated"><i class="setting icon"></i>设置</span>
      </div>
    <% } else { %>
      <div class="extra content">
        <span class=""><i class="send icon"></i>私信</span>
        <span class="right floated"><i class="plus icon"></i>加好友</span>
      </div>
    <% } %>
  </div>
</div>