<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>话题页</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesshet" href="/css/style.css">
  </head>
  <body>
    
    <% include header %>

    <div class="container">
      <div class="ui two column centered grid" style="width: 100%; margin-left: 0;">
        <div class="left floated twelve wide column">
          <div class="ui segment">
            <h2 style="margin-top:0;">
              <%= topic.title %>
            </h2>
            <div class="topic">
              发布于<%= ctx.fromNow(topic.created_at) %> • 
              作者 <%= topic.user.name %> • 
              <%= topic.pv %> 次浏览 • 
              <%= topic.comment %> 个回复 • 
              <%= topic.tab %>
            </div>
            <div class="ui divider"></div>
            <div class="content">
              <%- ctx.markdown(topic.content) %>
            </div>
          </div>
          <% include comment %>
        </div>
        <div class="right floated left aligned four wide column">
          <% include partials/userCard %>
          <% include partials/noReplyCard %>
        </div>
      </div>
    </div>
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/semantic-2.4.0.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>